In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [13]:
# Load the Titanic dataset from seaborn's built-in datasets
titanic=sns.load_dataset('titanic')
# Display the first 5 rows of the dataset to get a quick overview
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [15]:
# Drop unnecessary columns from the titanic dataset to simplify our analysis
titanic = titanic.drop(['sibsp','parch','fare','embarked','class','who','adult_male','deck','embark_town','alive','alone'],axis=1)

# Convert the 'sex' column from categorical strings to numeric codes (female=0, male=1)
titanic['sex']=titanic['sex'].astype('category').cat.codes

# Display the first 5 rows of the cleaned dataset to verify our changes
titanic.head()

   survived  pclass  sex   age
0         0       3    1  22.0
1         1       1    0  38.0
2         1       3    0  26.0
3         1       1    0  35.0
4         0       3    1  35.0

In [120]:
titanic.shape

(891, 4)

In [17]:
# Check for missing values in the titanic dataframe
titanic.isna()
# Remove all rows with any missing values from the titanic dataframe
titanic=titanic.dropna()
# Generate descriptive statistics for the numeric columns in the titanic dataframe
titanic.describe()

         survived      pclass         sex         age
count  714.000000  714.000000  714.000000  714.000000
mean     0.406162    2.236695    0.634454   29.699118
std      0.491460    0.838250    0.481921   14.526497
min      0.000000    1.000000    0.000000    0.420000
25%      0.000000    1.000000    0.000000   20.125000
50%      0.000000    2.000000    1.000000   28.000000
75%      1.000000    3.000000    1.000000   38.000000
max      1.000000    3.000000    1.000000   80.000000

In [19]:
y=titanic['survived']
X=titanic.drop('survived',axis=1)
from sklearn.neighbors import KNeighborsClassifier
for i in range(1,10):
    model=KNeighborsClassifier(n_neighbors=i)
    model.fit(X,y)
    model.score(X,y)
    if model.score(X,y)>0.8417366946778712:       
        score=model.score(X,y)
        print(score,i)

0.8739495798319328 1
0.84593837535014 2
0.8627450980392157 3

In [29]:
model.predict(X)

array([0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0], dtype=int64)

In [21]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [43]:
# Import necessary libraries
import numpy as np
# Define a parameter grid for GridSearchCV to tune KNN hyperparameters
# - n_neighbors: testing values from 1 to 99 (changed from 0 to avoid invalid parameter)
# - metric: testing both 'manhattan' and 'euclidean' distance metrics
param_grid = {'n_neighbors': np.arange(1, 100), 'metric': ['manhattan', 'euclidean']}

# Create a GridSearchCV object that will:
# - Use KNeighborsClassifier as the base model
# - Search through all combinations in param_grid
# - Use 5-fold cross-validation to evaluate performance
Grid = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5)
Grid.fit(X_train, y_train)

# Access the best score and parameters correctly (note the underscores)
best_score = Grid.best_score_  # Added underscore
best_k = Grid.best_params_['n_neighbors']  # Corrected attribute access
model=Grid.best_estimator_

In [41]:
model.score(X_test,y_test)

0.7342657342657343

In [45]:
from sklearn.metrics import confusion_matrix

In [49]:
# Calculate and display the confusion matrix to evaluate model performance
# This compares actual values (y_test) against predicted values from our model
confusion_matrix(y_test, model.predict(X_test))

array([[83,  9],
       [29, 22]], dtype=int64)